body {
    display: flex;
    justify-content: center;
}

.form-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 20px;
    width: 70%;
}

.success-form-wrap {
    border-color: #119e187a;
    background-color: #dff0d8;
}